
body {
    font-family: "DroidSansRegular", trebuchet ms, tahoma, sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.5em;
    color: #595757;
}

h1 {
    font-size: 1.6em;
    font-weight: 400;
    margin: 1.8em 0 1em 0;
}

a {
    text-decoration: none;
    color: black;

    &.field {
        display: inline-block;
        font-weight: 500;
        padding: 20px;
        margin: 10px;
        color: #88a;
        background-color: #e0e0e3;
    }
}

li {
    text-align: left;
}

form {
    margin-top: 60px;
    max-width: 80%;
    text-align: right;

    label {
        display: block;
        margin-bottom: 20px;
    }
    input, textarea {
        width: 70%;
        padding: 5px;
        margin: 0;
        border: 1px solid #595757;
    }
    textarea {
        height: 400px;
    }
    button {
        padding: 15px;
        margin: 0;
        border: 1px solid #595757;
        &:hover {
            background-color: #9a9;
            cursor: pointer;
        }
    }
}

header, main, footer {
    max-width: 79rem;
    margin: auto;
}

header {
    .title {
        text-align: center;

        .name {
            display: block;
            width: 100%;
            padding: 80px 0 10px 0;
            font-size: 2em;
        }
        .description {
            display: block;
            width: 100%;
            padding: 10px 0 80px 0;
        }
    }
    .navigation {
        padding: 20px;
        text-align: center;
        background-color: #d3d3e3;

        a {
            margin-right: 20px;
        }
    }

    ul {
        display: inline-block;
        li {
            display: inline-block;
        }
    }
}

main {
    text-align: justify;
    padding: 0 20px;
}

footer {
    clear: both;
    margin-top: 60px;
    padding: 20px 0;
    text-align: center;
    background-color: #d3d3e3;
}

.center {
    margin-top: 60px;
    text-align: center;
}

.box {
    display: inline-block;
    width: 26rem;
    text-align: left;

    h1 {
        text-align: center;
        font-size: 1.2em;
        font-weight: 400;
    }
    h2 {
        text-align: center;
        font-size: 0.8em;
        font-weight: 400;
    }
}

img {
    &.block {
        display: block;
        max-width: 80%;
        margin: 0 auto;
    }
    &.top-right {
        float: right;
        max-width: 80%;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}